* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #64a364;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e8a3b;
}

input,
textarea {
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid #4e8f4c;
}

textarea {
  height: 160px;
  margin-bottom: 20px;
}

.input-error {
  border: 2px solid #db6f6f !important;
}

.wrapper {
  opacity: 1;
  transition: 1s all;
}

.wrapper-opacity {
  opacity: 0;
  transition: 1s all;
}

.navbar {
  z-index: 1000;
}

.navbar-in {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: transparent;
  top: 0;
  left: 0;
  transition: all 500ms;
}

.navbar-out {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: all 500ms;
}

.navbar-btns {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-btn {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-btn > a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.6);
}

.navbar-btn-active {
  background-color: #5ba059 !important;
}

.navbar-btn-active > a {
  color: white !important;
}

.navbar-menu-btn,
.navbar-dropdown-btns {
  display: none;
}

.logo-in {
  margin: 0 !important;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-out {
  margin: 0 !important;
  font-size: 20px;
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.message-btn {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: #55be78;
  border: none !important;
  border-radius: 50%;
  transition: 300ms;
  z-index: 2200;
}

.message-send-btn {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 82px;
  right: 12px;
  background-color: #55be78;
  border: none !important;
  border-radius: 50%;
  transition: 300ms;
  z-index: 2200;
}

.message-send-btn > svg {
  color: white;
}

.message-send-btn > span {
  border-color: white;
  border-bottom-color: transparent;
}

.message-btn > svg {
  color: white;
}

.message-btn:hover,
.message-send-btn:hover {
  background-color: #4e8661;
}

.message-form {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 600px;
  right: 50px;
  bottom: 50px;
  z-index: 2000;
}

.message-form > button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.message-form > button > svg {
  color: rgba(0, 0, 0, 0.67);
}

.message-form > h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.message-form-inputs {
  margin-top: 32px;
}

.message-input {
  position: relative;
  bottom: 0;
  text-align: center;
  padding-top: 12px;
  margin-left: 42px;
  margin-right: 42px;
  margin-top: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

.message-send {
  width: 100%;
  height: 120px;
}

.message-label {
  position: absolute;
  margin: 0 !important;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
}

.message-btn-active {
  background-color: white;
  z-index: 2000;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.message-btn-active > svg {
  color: rgba(0, 0, 0, 0.67);
}

.message-btn-active:hover {
  background-color: #e6e6e6 !important;
}

.home {
  padding-top: 100px;
  max-width: 100vw;
  background: url("./public/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing {
  max-width: 100vw;
  padding-top: 70px;
  padding-bottom: 160px;
  text-align: center;
}

.landing-header {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 92px;
  text-align: center;
  margin: 0 !important;
  text-shadow: 1px 1px #6c6c6e;
  transition: 500ms all;
}

.landing-header-opacity {
  opacity: 0;
  transition: 500ms all;
}

.landing-subheader {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  text-shadow: 1px 1px #8e8e8f;
  margin-top: 32px;
  margin-bottom: 32px;
}

.landing-btn,
.landing-btn-skills {
  font-family: "Montserrat", sans-serif;
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  background: transparent;
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.bio-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid rgba(0, 0, 0, 0.6);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  background-color: white;
  background-position: right bottom;
  margin-bottom: 50px;
  margin-top: 16px;
  transition: 1s all;

}


.bio-btn-text-color {
  color: white !important;
  background-color: #4f8660 !important;
  transition: 1s all;
}

.landing-btn > a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.67);
  font-weight: bold;
}

.landing-btn > a:hover {
  color: #3d8a3bcc;
}

.landing-btn:hover {
  background-position: left bottom;
  transition: 500ms;
  color: #3d8a3bcc;
}

.landing-skills {
  max-width: 100vw;
  background-color: white;
  margin: 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 40px;
  padding-bottom: 70px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.landing-skills-header {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

.landing-skills-subheader {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-bottom: 60px;
}

.landing-skills-animations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.landing-skills-name {
  margin: 0 !important;
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.lottie-container {
  width: 400px;
  height: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.lottie-container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lottie-main {
  cursor: pointer !important;
}

.lottie-main:nth-child(2) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  padding-left: 50px;
  padding-right: 50px;
}

.footer,
.section {
  max-width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-image: url("./public/pattern.png");
}

.footer-text,
.section-text {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.section-text {
  font-weight: bold;
  font-size: 36px;
}

.about,
.skills,
.projects {
  padding-top: 80px;
}

.bio {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bio-social {
  width: 30%;
  min-width: 400px;
  padding: 20px;
}

.bio-personal {
  position: relative;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
}

.bio-personal > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.bio-personal > div > h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 7px;
  color: rgba(0, 0, 0, 0.67);
}

.bio-personal > div:first-child > h4 {
  color: black !important;
  font-size: 18px;
  margin-left: 4px;
}

.bio-personal > div > p {
  margin: 0 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.bio-info {
  width: 35%;
  min-width: 400px;
  padding: 20px;
}

.bio-info > p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: justify;
  text-justify: inter-word;
  color: rgba(0, 0, 0, 0.8);
}

.career {
  position: relative;
  width: 100%;
  margin-top: 62px;
  margin-bottom: 62px;
}

.career-line {
  position: absolute;
  width: 49.5%;
  border-right: 5px solid rgba(0, 0, 0, 0.3);
  height: 100%;
}

.career-card-left {
  position: relative;
  min-width: 500px;
  width: 30%;
  left: 50%;
  transform: translateX(-80%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-top: 42px;
  text-align: end;
}

.career-card-right {
  position: relative;
  min-width: 500px;
  width: 30%;
  left: 50%;
  transform: translateX(-20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-top: 42px;
}

.career-card-left,
.career-card-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.career-card-left > div:nth-child(2),
.career-card-right > div:nth-child(1) {
  width: 60%;
  min-width: 320px;
}

.career-card-right {
  flex-wrap: wrap-reverse !important;
}

.career-card-left > div > h2,
.career-card-right > div > h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.87);
}

.career-card-left > div > h3,
.career-card-right > div > h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.67);
}

.career-card-left > div > h4,
.career-card-right > div > h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.67);
}

.career-card-left > div > h5,
.career-card-right > div > h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.67);
}

.career-card-left > div > p,
.career-card-right > div > p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.67);
  line-height: 24px;
}

.career-card-img {
  width: 100px !important;
  height: 100px !important;
  min-width: auto !important;
  min-height: auto !important;
  transition: 500ms all;
}

.career-card-img:hover {
  width: 110px !important;
  height: 110px !important;
  transition: 500ms all;
}

.career-card-right > div > div,
.career-card-left > div > div {
  width: 140px !important;
  height: 140px !important;
}

.social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 12px;
}

.social-medias > a > svg {
  margin-left: 4px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.67) !important;
}

.social-medias > a:nth-child(2) > svg {
  color: #4e8661 !important;
}

.social-medias > a > svg:hover {
  color: #3c664a !important;
  transition: 500ms all;
}

@media only screen and (max-width: 1500px) {
  .lottie-main:nth-child(2) {
    border-left: none !important;
    border-right: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .career-card-left,
  .career-card-right {
    min-width: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-btns {
    display: none !important;
  }

  .logo-in,
  .logo-out {
    display: none !important;
  }

  .message-form {
    overflow: scroll;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    z-index: 2000;
  }

  .message-form > h1 {
    margin: 0 !important;
    padding-top: 100px;
  }

  .message-form > button {
    display: none;
  }

  .message-input {
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 42px;
  }

  .navbar-menu-btn {
    display: block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: rgba(0, 0, 0, 0.8);
  }

  .navbar-dropdown-btns {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  .navbar-btn {
    font-size: 24px;
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .message-btn,
  .message-send-btn {
    left: 90%;
  }

  .career-card-left,
  .career-card-right {
    text-align: center;
    min-width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .home {
    background: url("./public/bgm.jpg") no-repeat;
    background-size: 100%;
  }

  .navbar-dropdown-btns {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .lottie-container,
  .lottie-container > div {
    max-width: 100vw;
    height: 360px;
  }

  .lottie-container > div > svg {
    width: 80% !important;
    height: 80% !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate3d(-50%, -50%, 0px) !important;
    position: absolute !important;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .message-input {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 42px;
  }

  .message-form {
    width: 80% !important;
  }

  .message-btn,
  .message-send-btn {
    left: 78%;
  }

  .message-btn:hover,
  .message-send-btn:hover {
    background-color: #4e8661 !important;
  }

  .message-btn-active:hover {
    background-color: white !important;
  }

  .bio-personal > div {
    width: 100%;
    justify-content: center;
  }

  .bio-personal > div > h4 {
    text-align: center !important;
  }

  .social-medias {
    padding-bottom: 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }

  .bio {
    padding-top: 0px !important;
  }
  .bio-social {
    min-width: 300px !important;
  }

  .bio-info {
    min-width: 300px !important;
    padding: 0px !important;
    padding-top: 20px !important;
  }

  .career-card-left,
  .career-card-right {
    transform: translateX(-50%);
  }

  .career-card-left,
  .career-card-right {
    text-align: center;
    min-width: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .landing-skills-subheader {
    margin-bottom: 20px;
  }
}
