@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand-Medium.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("/public/fonts/Quicksand-Bold.ttf");
  font-weight: bold;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #64a364;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e8a3b;
}

.navbar {
  z-index: 1000;
}

.navbar-in {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: transparent;
  top: 0;
  left: 0;
  transition: all 500ms;
}

.navbar-out {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  transition: all 500ms;
}

.navbar-btns {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-btn {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-btn > a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.6);
}

.logo-in {
  margin: 0 !important;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-out {
  margin: 0 !important;
  font-size: 20px;
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  left: 12px;
  top: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.home {
  padding-top: 100px;
  max-width: 100vw;
  background: url("./public/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing {
  max-width: 100vw;
  padding-top: 70px;
  padding-bottom: 160px;
  text-align: center;
}

.landing-header {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 92px;
  text-align: center;
  margin: 0 !important;
  text-shadow: 1px 1px #6c6c6e;
}

.landing-subheader {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  text-shadow: 1px 1px #6c6c6e;
}

.landing-btn {
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  width: 300px;
  height: 60px;
  text-align: center;
  background: transparent;
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.landing-btn:hover {
  background-position: left bottom;
  transition: 500ms;
  color: rgba(61, 138, 59, 0.8);
}

.landing-skills {
  max-width: 100vw;
  background-color: white;
  margin: 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 40px;
  padding-bottom: 70px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.landing-skills-header {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.landing-skills-subheader {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  margin-bottom: 60px;
}

.landing-skills-animations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.landing-skills-name {
  margin: 0 !important;
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.lottie-container {
  width: 400px;
  height: 400px;
  position: relative;
}

.lottie-container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lottie-main:nth-child(2) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  max-width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-image: url("./public/pattern.png");
}

.footer-text {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .landing-skills-subheader {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-btns {
    display: none !important;
  }

  .logo-in,
  .logo-out {
    display: none !important;
  }
}

@media only screen and (max-width: 1500px) {
  .lottie-main:nth-child(2) {
    border-left: none !important;
    border-right: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
