* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #64a364;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e8a3b;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  width: 200px;
  flex: 0 0 50%;
}

input,
textarea {
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid #4e8f4c;
}

textarea {
  height: 160px;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 42px;
}

.switch__option {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin: auto !important;
  width: 52px;
}

.switch__option--disabled {
  color: rgba(0, 0, 0, 0.67);
}

.switch__option--active {
  color: #5ba059;
}

.switch__toggle {
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  width: 64px;
  height: 42px;
  background-color: white;
}

.switch__toggle__path {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  position: absolute;
  width: 90%;
  height: 12px;
  border-radius: 12px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.switch__toggle__path--disabled {
  background-color: #f5f5f5;
  transition: 500ms all;
}

.switch__toggle__path--active {
  background-color: #729272;
  transition: 500ms all;
}

.switch__toggle__marker {
  width: 32px;
  height: 32px;
  border-radius: 42px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switch__toggle__marker--disabled {
  background-color: #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;
}

.switch__toggle__marker--active {
  background-color: #4e8661;
  right: 0px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.input-error {
  border: 2px solid #db6f6f !important;
}

.wrapper {
  opacity: 1;
  transition: 1s all;
}

.wrapper-opacity {
  opacity: 0;
  transition: 1s all;
}

.navbar {
  z-index: 1000;
}

.navbar-in {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: transparent;
  top: 0;
  left: 0;
  transition: all 500ms;
}

.navbar-out {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  top: 0;
  left: 0;
  transition: all 500ms;
}

.navbar-btns {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-btn {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
  font-family: "Quicksand", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-btn > a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.6);
}

.navbar-btn-active {
  background-color: #4e8f4c !important;
}

.navbar-btn-active > a {
  color: white !important;
}

.navbar-menu-btn,
.navbar-dropdown-btns {
  display: none;
}

.logo-in {
  margin: 0 !important;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.logo-out {
  margin: 0 !important;
  font-size: 20px;
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.message-btn {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  background-color: #55be78;
  border: none !important;
  border-radius: 50%;
  transition: 300ms;
  z-index: 2200;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.message-send-btn {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 82px;
  right: 12px;
  background-color: #55be78;
  border: none !important;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 300ms;
  z-index: 2200;
}

.message-send-btn > svg {
  color: white;
}

.message-send-btn > span {
  border-color: white;
  border-bottom-color: transparent;
}

.message-btn > svg {
  color: white;
}

.message-btn:hover,
.message-send-btn:hover {
  background-color: #4e8661;
}

.message-form {
  position: fixed;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
  width: 620px;
  right: 50px;
  bottom: 50px;
  z-index: 2000;
}

.message-form > button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.message-form > button > svg {
  color: rgba(0, 0, 0, 0.67);
}

.message-form > h1 {
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.message-form-inputs {
  margin-top: 32px;
}

.message-input {
  position: relative;
  bottom: 0;
  text-align: center;
  padding-top: 12px;
  margin-left: 42px;
  margin-right: 42px;
  margin-top: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

.message-send {
  width: 100%;
  height: 120px;
}

.message-label {
  position: absolute;
  margin: 0 !important;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
}

.message-btn-active {
  background-color: white;
  z-index: 2000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.message-btn-active > svg {
  color: rgba(0, 0, 0, 0.67);
}

.message-btn-active:hover {
  background-color: #e6e6e6 !important;
}

.home {
  padding-top: 100px;
  max-width: 100vw;
  background: url("./public/bg.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing {
  max-width: 100vw;
  padding-top: 70px;
  padding-bottom: 160px;
  text-align: center;
}

.landing-header {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 92px;
  text-align: center;
  margin: 0 !important;
  text-shadow: 1px 1px #6c6c6e;
  transition: 500ms all;
}

.landing-header-opacity {
  opacity: 0;
  transition: 500ms all;
}

.landing-subheader {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 38px;
  text-align: center;
  text-shadow: 1px 1px #8e8e8f;
  margin-top: 32px;
  margin-bottom: 32px;
}

.landing-btn,
.landing-btn-skills {
  font-family: "Montserrat", sans-serif;
  outline: none !important;
  box-shadow: none !important;
  border: 3px solid white;
  padding: 10px 40px;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  background: transparent;
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 1s;
}

.landing-btn {
  cursor: pointer;
}

.bio-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  outline: none !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border: none !important;
  border-radius: 28px;
  padding: 10px 40px;
  font-size: 26px;
  text-align: center;
  background-color: #55be78;
  color: white;
  background-position: right bottom;
  margin-bottom: 50px;
  margin-top: 16px;
  transition: 1s all;
}

.bio-btn:hover {
  color: white;
  transition: 1s all;
  background-color: #4e8661;
}

.landing-btn > a {
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.67);
  font-weight: bold;
}

.landing-btn > a:hover {
  color: #3d8a3bcc;
}

.landing-btn:hover {
  background-position: left bottom;
  transition: 500ms;
  color: #3d8a3bcc;
}

.landing-skills {
  max-width: 100vw;
  background-color: white;
  margin: 0 !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 40px;
  padding-bottom: 70px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.landing-skills-header {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

.landing-skills-subheader {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-bottom: 60px;
}

.landing-skills-animations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.landing-skills-name {
  margin: 0 !important;
  text-align: center;
  color: rgba(0, 0, 0, 0.67);
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.lottie-container {
  width: 400px;
  height: 400px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.lottie-container > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lottie-main {
  cursor: pointer !important;
}

.lottie-main:nth-child(2) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  padding-left: 50px;
  padding-right: 50px;
}

.footer,
.section {
  max-width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-image: url("./public/pattern.png");
}

.footer-text,
.section-text {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.swipe__info {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.section-text {
  font-weight: bold;
  font-size: 36px;
}

.about,
.skills,
.projects {
  padding-top: 80px;
}

.bio {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bio-social {
  width: 30%;
  min-width: 400px;
  padding: 20px;
}

.bio-personal {
  position: relative;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bio-personal > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.bio-personal > div > svg {
  color: rgba(0, 0, 0, 0.67);
}

.bio-personal > div > h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 7px;
  color: rgba(0, 0, 0, 0.6);
  min-width: 160px;
  text-align: right !important;
}

.bio-personal > div:first-child > h4 {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-left: 4px;
}

.bio-personal > div > p {
  margin: 0 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.bio-info {
  width: 35%;
  min-width: 400px;
  padding: 20px;
}

.bio-info > p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: justify;
  color: rgba(0, 0, 0, 0.8);
}

.career {
  position: relative;
  width: 100%;
  margin-top: 62px;
  margin-bottom: 62px;
}

.career-line {
  position: absolute;
  width: 49.5%;
  border-right: 5px solid rgba(0, 0, 0, 0.3);
  height: 100%;
}

.career-card-left {
  position: relative;
  min-width: 500px;
  width: 30%;
  left: 50%;
  transform: translateX(-80%);
  padding: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 42px;
  border-radius: 12px;
  text-align: end;
}

.career-card-right {
  position: relative;
  min-width: 500px;
  width: 30%;
  left: 50%;
  transform: translateX(-20%);
  padding: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 12px;
  margin-top: 42px;
}

.career-card-left,
.career-card-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.career-card-left > div:nth-child(2),
.career-card-right > div:nth-child(1) {
  width: 60%;
  min-width: 320px;
}

.career-card-right {
  flex-wrap: wrap-reverse !important;
}

.career-card-left > div > h2,
.career-card-right > div > h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.87);
}

.career-card-left > div > h3,
.career-card-right > div > h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.67);
}

.career-card-left > div > h4,
.career-card-right > div > h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.67);
}

.career-card-left > div > h5,
.career-card-right > div > h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.67);
}

.career-card-left > div > p,
.career-card-right > div > p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.67);
  line-height: 24px;
}

.career-card-img {
  width: 100px !important;
  height: 100px !important;
  min-width: auto !important;
  min-height: auto !important;
  transition: 500ms all;
}

.career-card-img:hover {
  width: 110px !important;
  height: 110px !important;
  transition: 500ms all;
}

.career-card-right > div > div,
.career-card-left > div > div {
  width: 140px !important;
  height: 140px !important;
}

.social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 12px;
}

.social-medias > a > svg {
  margin-left: 4px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.67) !important;
}

.social-medias > a:nth-child(2) > svg {
  color: #4e8661 !important;
}

.social-medias > a > svg:hover {
  color: #3c664a !important;
  transition: 500ms all;
}

.skill-tile {
  position: relative;
  width: 130px;
  height: 130px;
  background-color: white;
  /* margin: 20px; */
}

.skill-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  bottom: 0;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #242424;
  color: white;
  font-family: "Montserrat", sans-serif;
  z-index: 30;
}

.skill-tile > div:nth-child(2) {
  width: 130px;
  height: 130px;
}

.skill-tile-img {
  width: 120px !important;
  height: 120px !important;
  min-width: auto !important;
  min-height: auto !important;
  transition: 1s;
  padding: 12px !important;
  border: 3px solid #60645e !important;
}

.skill-tile-img-disabled {
  filter: grayscale(1) saturate(100%);
  border: 3px solid white !important;
  transition: 1s;
}

.skills-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 80px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills__cards__container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-top: 40px;
}

.skill__card {
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 25%;
  min-width: 370px;
  height: 400px;
  margin: 50px;
}

.skill__card__name {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  text-align: right;
}

.skill__card__background {
  width: 100%;
  height: 300px;
  filter: grayscale(0.9);
}

.skill__card__description {
  position: absolute;
  background-color: white;
  width: 300px;
  min-height: 200px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  bottom: -220px;
  z-index: 900;
  margin: auto;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.67);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 1s;
  border-radius: 20px;
}

.skill__card__background > div {
  height: 300px;
}

.skill__card__name > h1 {
  padding-right: 24px;
  padding-top: 24px;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.67);
}

.skill__card__img {
  position: absolute;
  bottom: 58px;
  left: 8px;
}

.skill__container {
  width: 40%;
  min-width: 320px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.skill__container > div {
  width: 240px;
}

.skill__header {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  margin-top: 12px;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.67);
  font-weight: bold;
}

.skill__img {
  width: 140px !important;
  height: 140px !important;
  min-width: auto !important;
  min-height: auto !important;
}

.skill__paragraph {
  margin-top: 4px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 8px;
  line-height: 28px;
}

.swipe__tip {
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  margin-top: 22px;
}

.skill__description {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  padding: 20px;
  margin-top: 16px;
}

.skills-tiles-container {
  width: 50%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation__back,
.navigation__forward {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 92px;
  width: 92px;
  z-index: 950;
  opacity: 0.5;
  transition: 200ms;
}

.navigation__back {
  left: 20px;
}

.navigation__forward {
  right: 20px;
}

.navigation__back:hover,
.navigation__forward:hover {
  opacity: 1;
  transition: 200ms;
}

.projects__card__container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 40px;
  min-height: 660px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.projects__card__container > h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  margin-top: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.projects__card__container > p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 12px;
  text-align: justify;
  text-justify: inter-word;
  padding: 16px;
}

.projects__links {
  margin-top: 16px;
  text-align: center;
}

.projects__links > a {
  color: #4e8661;
  transition: 500ms;
}

.projects__card__image > div {
  max-height: 520px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 1500px) {
  .lottie-main:nth-child(2) {
    border-left: none !important;
    border-right: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .career-card-left,
  .career-card-right {
    min-width: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-btns {
    display: none !important;
  }

  .logo-in,
  .logo-out {
    display: none !important;
  }

  .message-form {
    overflow: scroll;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    z-index: 2000;
  }

  .message-form > h1 {
    margin: 0 !important;
    padding-top: 100px;
  }

  .message-form > button {
    display: none;
  }

  .message-input {
    margin-left: 72px;
    margin-right: 72px;
    margin-top: 42px;
  }

  .navbar-menu-btn {
    display: block;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    color: rgba(0, 0, 0, 0.8);
  }

  .navbar-dropdown-btns {
    background-color: white;
    padding: 80px 200px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  .navbar-btn {
    font-size: 24px;
    margin-top: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: auto !important;
    border-radius: 32px !important;
  }

  .message-btn,
  .message-send-btn {
    left: 90%;
  }

  .career-card-left,
  .career-card-right {
    text-align: center;
    min-width: 400px;
  }

  .skills-tiles-container {
    max-height: none !important;
  }
}

@media only screen and (max-width: 1921px) {
  .home {
    background: url("./public/bgfullhd.webp") no-repeat;
    background-size: 100%;
  }
}

@media only screen and (max-width: 1400px) {
  .projects__card__container {
    padding: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .skills__cards__container {
    margin-bottom: 100px;
  }

  .projects__card__container {
    padding: 0;
    padding-bottom: 40px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .home {
    background: url("./public/bgm.webp") no-repeat;
    background-size: 100%;
  }

  .bio-personal {
    width: 96%;
    min-width: 240px;
  }

  .projects__card__container {
    border-radius: 16px;
  }

  .bio-personal > div:nth-child(1),
  .bio-personal > div:nth-child(2),
  .bio-personal > div:nth-child(3) {
    justify-content: space-between !important;
  }

  .navbar-dropdown-btns {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .skill__card {
    min-width: 300px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 16px;
  }

  .navigation__back,
  .navigation__forward {
    opacity: 0.2;
    transform: translateY(-100%);
  }

  .lottie-container,
  .lottie-container > div {
    max-width: 100vw;
    height: 300px;
    width: 300px;
  }
  /* 
  .lottie-main {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 16px;
    padding-top: 40px;
    padding-bottom: 20px;
  } */

  .lottie-container > div > svg {
    width: 80% !important;
    height: 80% !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate3d(-50%, -50%, 0px) !important;
    position: absolute !important;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .message-input {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 42px;
  }

  .message-form {
    width: 80% !important;
  }

  .message-btn,
  .message-send-btn {
    left: 78%;
  }

  .message-btn:hover,
  .message-send-btn:hover {
    background-color: #4e8661 !important;
  }

  .message-btn-active:hover {
    background-color: white !important;
  }

  .bio-personal > div {
    width: 100%;
    justify-content: center;
  }

  .bio-personal > div > h4 {
    text-align: right !important;
  }

  .social-medias {
    padding-bottom: 12px;
    padding-top: 24px;
  }

  .bio {
    padding-top: 0px !important;
  }

  .bio-social {
    min-width: 300px !important;
  }

  .bio-info {
    min-width: 300px !important;
    padding: 0px !important;
    padding-top: 20px !important;
  }

  .career-card-left,
  .career-card-right {
    transform: translateX(-50%);
  }

  .career-card-left,
  .career-card-right {
    text-align: center;
    min-width: 300px;
  }

  .skills-container {
    padding: 0 !important;
    min-height: 60vh;
  }
}

@media only screen and (max-width: 700px) {
  .landing-skills-subheader {
    margin-bottom: 20px;
  }

  .navigation__back,
  .navigation__forward {
    height: 52px;
    width: 52px;
  }
}
