.skills-page {
  position: relative;
  min-height: 100vh;
  max-width: 100vw;
  z-index: 40;
  background-color: #e0e0e0;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
}

.skills-header {
  font-family: "Poppins", sans-serif;
  padding: 40px;
  padding-top: 42px;
  font-style: italic;
  font-weight: 700;
  font-size: 84px;
  text-align: right;
  color: rgba(0, 0, 0, 0.8);
}

.skills-tiles {
  left: 20%;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* opacity: 0; */
}

.skills-tiles > div {
  padding: 20px;
  background-color: rgb(36, 36, 36);
  margin: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  opacity: 0;
  z-index: 15;
}

.skills-tiles > div > img {
  height: 112px;
  width: 112px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.skills-tiles > div > h1 {
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.skills-tile-description {
  position: relative;
  z-index: 150;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.skills-tile-description > p {
  text-align: center;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(36, 36, 36);
  border-left: 1px solid rgb(36, 36, 36);
  border-right: 2px solid rgb(36, 36, 36);
  color: white;
}
.skills-tile-description > p:first-child {
  border-left: 2px solid rgb(36, 36, 36);
}

.skills-tile-description > p:last-child {
  border-right: 2px solid rgb(36, 36, 36);
}

@media only screen and (max-width: 600px) {
  .skills-page {
    padding-bottom: 160px;
  }
  .skills-header {
    font-size: 42px;
    margin-bottom: 20px;
    text-align: center;
  }

  .skills-tiles {
    left: 10%;
    width: 80%;
    opacity: 1;
  }

  .skills-tiles > div {
    height: auto;
  }

  .skills-tiles > p {
    height: auto;
  }

  .skills-tile-description-mobile {
    position: relative;
    z-index: 150;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .skills-tile-description-mobile > p {
    text-align: center;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: rgb(36, 36, 36);
  }
  
  .skills-tile-description-mobile {
    color: white;
  }
}
