.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
  min-width: 100vw;
  z-index: 100;
}

.navbar-top {
  background-color: transparent;
  box-shadow: none;
  transition-property: all;
  transition-duration: 1s;
}

.navbar-out {
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 1s;
}

.navbar > button {
  outline: 0;
  border: none;
  background-color: transparent;
  font-size: 24px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}

.navbar-out > button {
  color: white;
}
