.footer {
    width: 100vw;
    min-width: 600px;
    height: 20px;
    background-color: #e0e0e0;
    
}

.footer-text {
    text-align: center; 
    color: rgba(0, 0, 0, 0.67);
    background-color: #e0e0e0;
}
