@font-face {
  font-family: AstroSpace;
  src: url('./assets/astrospace.otf');
}

@font-face {
  font-family: Mandalore;
  src: url('./assets/MandaloreTitle.otf');
}

@font-face {
  font-family: DancingScript, cursive;
  src: url('./assets/DancingScript-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: DancingScript, cursive;
  src: url('./assets/DancingScript-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: DancingScript, cursive;
  src: url('./assets/DancingScript-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: DancingScript, cursive;
  src: url('./assets/DancingScript-Bold.ttf');
  font-weight: 700;
}

.projects-card-img {
  filter: grayscale(1);
  transition-property: all;
  transition-property: transform;
  transition-duration: 1s;
}

.projects-card-img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  transition-property: all;
  transition-property: transform;
  transition-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  height: 10px;
  width: 4px;
  background:#383a63
}

::-webkit-scrollbar-thumb:horizontal{
  background:#2e305cda;
  border-radius: 10px;
}

